
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-601462128851092431.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-601462128851092431.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-601462128851092431.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-601462128851092431.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-601462128851092431.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-601462128851092431.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-601462128851092431.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-601462128851092431.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-601462128851092431.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-601462128851092431.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-601462128851092431.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-601462128851092431.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-601462128851092431.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-601462128851092431.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-601462128851092431.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-601462128851092431.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-601462128851092431.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-601462128851092431.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-601462128851092431.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-601462128851092431.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-601462128851092431.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-601462128851092431.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-601462128851092431.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-601462128851092431.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-601462128851092431.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-601462128851092431.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-601462128851092431.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-601462128851092431.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-601462128851092431.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-601462128851092431.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-601462128851092431.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-601462128851092431.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-601462128851092431.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-601462128851092431.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-601462128851092431.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-601462128851092431.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-601462128851092431.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-601462128851092431.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-601462128851092431.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-601462128851092431.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-601462128851092431.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-601462128851092431.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-601462128851092431.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-601462128851092431.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-601462128851092431.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-601462128851092431.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-601462128851092431.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-601462128851092431.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-601462128851092431.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-601462128851092431.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-601462128851092431.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-601462128851092431.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-601462128851092431.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-601462128851092431.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-601462128851092431.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-601462128851092431.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-601462128851092431.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-601462128851092431.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-601462128851092431.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-601462128851092431.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-601462128851092431.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-601462128851092431.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-601462128851092431.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-601462128851092431.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-601462128851092431.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-601462128851092431.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-601462128851092431.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-601462128851092431.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-601462128851092431.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-601462128851092431 .gp-relative{position:relative}.gps-601462128851092431 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-601462128851092431 .gp-mb-0{margin-bottom:0}.gps-601462128851092431 .gp-flex{display:flex}.gps-601462128851092431 .gp-grid{display:grid}.gps-601462128851092431 .\!gp-hidden{display:none!important}.gps-601462128851092431 .gp-hidden{display:none}.gps-601462128851092431 .gp-max-w-full{max-width:100%}.gps-601462128851092431 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-601462128851092431 .gp-flex-col{flex-direction:column}.gps-601462128851092431 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-601462128851092431 .gp-duration-200{transition-duration:.2s}.gps-601462128851092431 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-601462128851092431 .tablet\:\!gp-hidden{display:none!important}.gps-601462128851092431 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-601462128851092431 .mobile\:\!gp-hidden{display:none!important}.gps-601462128851092431 .mobile\:gp-hidden{display:none}}.gps-601462128851092431 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsZIOFtQV4"}' data-id="gsZIOFtQV4" id="gsZIOFtQV4" data-same-height-subgrid-container class="gsZIOFtQV4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:50px;--pb:50px;--pt-mobile:40px;--pb-mobile:40px;--pt-tablet:50px;--pb-tablet:50px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyBLEOTdUO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gfv5A0v8mo"}' data-id="gfv5A0v8mo" id="gfv5A0v8mo" data-same-height-subgrid-container class="gfv5A0v8mo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7Z2212OlS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gYif1dCKQr"}' data-id="gYif1dCKQr" id="gYif1dCKQr" data-same-height-subgrid-container class="gYif1dCKQr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYj4JUZc8N gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF9F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCbqT-_ROX"}' data-id="gCbqT-_ROX" id="gCbqT-_ROX" data-same-height-subgrid-container class="gCbqT-_ROX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:20px;--pb:var(--g-s-l);--pr:20px;--pt-mobile:var(--g-s-l);--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:var(--g-s-l);--pl-tablet:20px;--pb-tablet:var(--g-s-l);--pr-tablet:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#FFF9F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-b25wk0c- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmMNA49qHN"
        class="gmMNA49qHN"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:40px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmMNA49qHN_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gicb96ScR5"
        class="gicb96ScR5"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--mb-mobile:10px;--mb-tablet:2px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggicb96ScR5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gicb96ScR5">
        .gicb96ScR5 {

}
.gicb96ScR5 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6r3FUlSWa gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"giaX_wnXyZ"}' data-id="giaX_wnXyZ" id="giaX_wnXyZ" data-same-height-subgrid-container class="giaX_wnXyZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gP8RA5YHHf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF9F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGAikMA4vf"}' data-id="gGAikMA4vf" id="gGAikMA4vf" data-same-height-subgrid-container class="gGAikMA4vf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:20px;--pb:var(--g-s-l);--pr:20px;--pt-mobile:var(--g-s-l);--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:var(--g-s-l);--pl-tablet:20px;--pb-tablet:var(--g-s-l);--pr-tablet:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--bgc:#FFF9F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gM2nzr_ls4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLjbNe90S5"
        class="gLjbNe90S5"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:40px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLjbNe90S5_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXEb4WFLva"
        class="gXEb4WFLva"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--mb-mobile:10px;--mb-tablet:2px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXEb4WFLva_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gXEb4WFLva">
        .gXEb4WFLva {

}
.gXEb4WFLva p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-601462128851092431 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/w7f2j0-0h/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=601462128766878671&sectionId=601462128851092431)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmMNA49qHN_text","label":"ggmMNA49qHN_text","default":"Care for Thinning Hair with Gentle, Daily Scalp Support"},{"type":"html","id":"ggicb96ScR5_text","label":"ggicb96ScR5_text","default":"<p>Managing hair affected by alopecia starts with gentle, consistent scalp care. Harsh cleansers and over-treating can further stress sensitive hair and follicles. Organic Rosemary Hair Growth Shampoo is designed to cleanse the scalp without stripping natural oils, helping maintain comfort and balance. By supporting scalp cleanliness and circulation, it creates a healthier environment for hair that may be thinning or fragile—making daily hair care feel supportive, not overwhelming.</p>"},{"type":"html","id":"ggLjbNe90S5_text","label":"ggLjbNe90S5_text","default":"Support Stronger-Looking Hair Without Harsh Treatments"},{"type":"html","id":"ggXEb4WFLva_text","label":"ggXEb4WFLva_text","default":"<p>Infused with organic rosemary and plant-based nutrients, this shampoo helps support hair strength and manageability from root to tip. It works during your regular wash routine to reduce breakage, improve hair texture, and support the appearance of fuller-looking hair over time. While not a medical treatment for alopecia, consistent use helps maintain scalp health and supports hair as part of a gentle, long-term care routine focused on comfort, balance, and resilience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}